<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
    <link rel="stylesheet" href="/PresentacionCurso/src/app/paginas/javascript/pokemon-ajax-master/main.css">
    <link rel="stylesheet" href="/PresentacionCurso/src/app/paginas/javascript/pokemon-ajax-master/pokemon-ajax-master.component.css">

</head>

<body>
    <main class="pokemon-card">
        <h1>PokeDex</h1>
        <ul id="contenedor-pokemons"></ul>
        <button class="btn btn-primary" id="prev-page-btn">Anterior</button>
        <button class="btn btn-primary" id="next-page-btn">Siguiente</button>
    </main>
    <script type="module" src="/PresentacionCurso/src/app/paginas/javascript/pokemon-ajax-master/pokedex/pokedex.js"></script>
</body>

</html>
